.keyboard {
  width: 100%;
  max-width: 900px;
  margin: 20px 0;
  padding: 30px 8px 13px;
  border-radius: 5px;
  color: #555;
  background: linear-gradient(to bottom, #e5e2e1, #f5f3f1, #e5e2e1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.keyboard__row {
  padding: 2px;
  background: #4d4d4d;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.keyboard__key {
  width: calc(1 / 15 * 100% - 4px);
  margin: 2px;
  height: 58px;
  border-width: 3px 7px 10px;
  border-style: solid;
  border-radius: 4px;
  background: #d3cfcc;
  border-color: #ece8e4 #dedad6 #c9c4c4;
}

.keyboard__key:hover {
  opacity: 0.9;
  cursor: pointer;
}

.keyboard__key.pushed {
  transform: scale(0.98, 0.95);
  opacity: 0.8;
}

.Tab,
.CapsLock,
.ShiftLeft,
.ControlLeft,
.Win,
.AltLeft {
  background: #a8aeb8;
  border-color: #c4c7cc #adb9cc #96a6bd;
  border-right-width: 10px;
}

.Backspace,
.Enter,
.ShiftRight,
.Delete,
.AltRight,
.ControlRight {
  background: #a8aeb8;
  border-color: #c4c7cc #adb9cc #96a6bd;
  border-left-width: 10px;
}

.Backspace {
  width: calc(2 / 15 * 100% - 4px);
}

.Tab,
.Backslash {
  width: calc(1.5 / 15 * 100% - 4px);
}

.CapsLock {
  width: calc(1.75 / 15 * 100% - 4px);
}

.Enter {
  width: calc(2.25 / 15 * 100% - 4px);
}

.ShiftLeft {
  width: calc(2 / 15 * 100% - 4px);
}

.ControlLeft,
.Win,
.AltLeft,
.AltRight,
.ControlRight {
  width: calc(1.25 / 15 * 100% - 4px);
}

.Space {
  width: calc(5.75 / 15 * 100% - 4px);
}

.keycap {
  width: 100%;
  height: 100%;
  padding: 5px 0 0 7px;
  font-size: 18px;
  line-height: 1;
  background: linear-gradient(to right, #e5e2e1, #f5f3f1, #e5e2e1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.Tab > .keycap,
.CapsLock > .keycap,
.ShiftLeft > .keycap,
.ControlLeft > .keycap,
.Win > .keycap,
.AltLeft > .keycap,
.Backspace > .keycap,
.Enter > .keycap,
.ShiftRight > .keycap,
.Delete > .keycap,
.AltRight > .keycap,
.ControlRight > .keycap {
  font-size: 14px;
  background: #cdd3de;
  background: linear-gradient(to right, #bbc3d2, #cdd3de, #bbc3d2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 7px;
}

.ArrowLeft > .keycap,
.ArrowRight > .keycap,
.ArrowUp > .keycap,
.ArrowDown > .keycap {
  font-size: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShiftRight > .keycap {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Win > .keycap {
  background-image: url('../assets/images/win.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.hidden,
.keycap.hidden {
  display: none;
}
